<footer class="page-footer font-small blue pt-4" style="background-color: black;">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3" style="color: white;">
          <div>
            <img style="margin: 0 270pt;"
              width="140"
              alt="Spotify Logo"
              src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png"
              />
            </div>      
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3" style="color:white; margin-left: 300pt;" > 
          <p> {{today | date:'short'}}</p>       
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
    </div>
  </footer>
  