<div class="playlistcreated">


  <div class="view">
    <div class="mask gradient-card align-items-center">
      <div class="container d-flex justify-content-center my-4">
        <div id="mobile-box">

          <div class="card">
            <div class="view">
              <img class="card-img-top" src="{{playlist.image}}" alt="Card image cap">

              <div class="mask gradient-card"></div>
            </div>

            <div class="card-body text-center">

              <audio
                src="../../../../assets/audio/ELETRONICA\ALOK & Ilkay Sencan (feat. Tove Lo) - Don't Say Goodbye (Lyric Video).mp3"
                controls id="audioPlayer">
              </audio>

            </div>









          </div>
